<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserDao">
    <insert id="insertUser" parameterType="User">
        insert into user(name,age) values(#{name},#{age})
    </insert>

    <!-- 这里的id必须和UserMapper接口中的接口方法名相同，不然运行时报错 -->
    <select id="getUser" resultType="User" parameterType="java.lang.Integer">
        select * from user where id=#{id}
    </select>
</mapper>